#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1.5rem;
}

.app textarea {
  width: 100%;
  min-width: 400px;
  min-height: 100px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.app button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.app .delay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.app .delay-container p {
  font-size: 1rem;
  color: #666;
  margin: 0;
}

.app .delay-container-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.app .delay-container-input label {
  font-size: 1rem;
  margin: 0;
}

.app .delay-container-input input {
  width: 100px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  flex: 1;
  font-size: 1rem;
}
